body {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
}
a {
  color: blue;
}
header {
  text-align: right;
}
.content {
  margin: 0px auto;
  text-align: left;
  width: 600px;
}
input, button {
  margin-bottom: 1em;
  margin-top: 1em;
}
select {
  width: 15%;
}
input[type="text"] {
  width: 50%;
  display: block;
}
label {
  display: block;
}
label#blacklist-label {
  float: left;
  margin: 0;
}
input[type="checkbox"] {
  margin: 0 0 0 1em;
}
#blacklist-div {
  margin-top: 0.5em;
}
.blacklist {
  background: #fdd;
}
.whitelist {
	background: #f6fef6;
}
table {
  border: 2px solid black;
	border-spacing: 2px;
	border-collapse: collapse;
}
th, td {
  border: 1px solid gray;
	padding: 3px;
}
#cancel {
  margin-right: 30%;
}
#error {
  display: none;
  background-color: red;
}
#lookup, #result, #recommends, #rec-form {
  display: none;
}
#buttons {
  clear: both;
}
#delete-rec {
  background: red;
  color: white;
}

